/RelicGame/Assembly-CSharp-vs.csproj
/RelicGame/RelicGame.sln
/RelicGame/RelicGame.userprefs
/RelicGame/RelicGame-csharp.sln
/RelicGame/Assembly-CSharp.csproj
/RelicGame/Assembly-CSharp-Editor.csproj
/RelicGame/Assembly-CSharp-Editor-vs.csproj
/RelicGame/Library/CurrentLayout.dwlt
Library
/Misc
/RelicBuilds
/RelicGame/extern
/RelicGame/obj
/RelicGame/Temp
/RelicGame/Assembly-UnityScript.unityproj
/RelicGame/Assembly-UnityScript-vs.unityproj
/RelicGame/RelicGame-csharp.v12.suo
/RelicGame/UnityVS.RelicGame.CSharp.Editor.csproj
/RelicGame/UnityVS.RelicGame.sln
/RelicGame/UnityVS.RelicGame.CSharp.csproj
/RelicGame/*.csproj
/RelicGame/*.sln
/RelicGame/*.unityproj
/RelicGame/*.suo
