Assembly-CSharp-vs.csproj
RelicGame.sln
RelicGame.userprefs
RelicGame-csharp.sln
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj
Library/CurrentLayout.dwlt
Library
/Misc
/RelicBuilds
extern
obj
Temp
Assembly-UnityScript.unityproj
Assembly-UnityScript-vs.unityproj
RelicGame-csharp.v12.suo
UnityVS.RelicGame.CSharp.Editor.csproj
UnityVS.RelicGame.sln
UnityVS.RelicGame.CSharp.csproj
*.csproj
*.sln
*.unityproj
*.suo
