/RelicGame/Assembly-CSharp-vs.csproj
/RelicGame/RelicGame.sln
/RelicGame/RelicGame.userprefs
/RelicGame/RelicGame-csharp.sln
/RelicGame/Assembly-CSharp.csproj
/RelicGame/Assembly-CSharp-Editor.csproj
/RelicGame/Assembly-CSharp-Editor-vs.csproj
/RelicGame/Library/CurrentLayout.dwlt
Library
